/* .header.section{
	background-color:white;
	word-spacing:0px;
	
} */

/* Định dạng tất cả header */

/* header {
    background-color: var(--color-white);
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Tông màu chung áp dụng cho các file css */
:root{
	--color-primary: #4CBB17;
    --color-background: #B8E6B8;
    --color-text: #26352A;
    --color-text-muted: #4F5F52;
    --color-white: #FFFFFF;
    --color-border: #1e5c3b;

}

/* Thống nhất cá thẻ h1, h2, h3 cùng sử dụng 1 kiểu  */
h1 {
    font-family: Arial, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: var(--color-text);
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: var(--color-text);
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: var(--color-text);
}

h4 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-text);
}
/* --------------------------------------- */

p{
	margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-text-muted);
}

a{
	text-decoration:none;
	color: var(--color-primary);
}

body{
	margin: 0 ;
	padding: 0 ;
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: Arial, sans-serif;
}

/* Thiết kế nút */
button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
}

